@mixin list {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--base-color-second);
  &:hover {
    color: var(--base-color);
  }
}
$dropdownWidth: 13px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: var(--header-height);
  background-color: var(--background-color-second);
  nav {
    max-width: var(--max-width);
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    margin: auto;
    img {
      cursor: pointer;
      width: 54px;
      height: auto;
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  ul {
    font-size: 20px;
    margin: 0;
    padding-left: 0;
    li {
      cursor: pointer;
      display: inline-block;
      list-style: none;
      margin: 0 10px;
      @include list;
      a {
        @include list;
      }
    }
  }
  &__basket {
    font-weight: normal;
    padding: 8px 15px;
    height: fit-content;
    margin-left: auto;
    svg {
      width: 18px;
      height: auto;
      margin-right: 5px;
      > g > * {
        fill: var(--background-color-second) !important;
      }
    }
  }
  .more {
    position: relative;
    svg {
      right: -15px;
      width: $dropdownWidth;
      height: $dropdownWidth;
      top: 6px;
      fill: var(--base-color-second);
    }
    ul {
      top: $dropdownWidth * 2;
      left: 0;
      width: 100%;
      min-width: max-content;
      li {
        display: block;
      }
    }
    &:hover svg {
      fill: var(--base-color);
    }
  }
}