$headHeight: 73px;
$footerHeight: 73px;

.panel {
  z-index: 100;
  width: 420px !important;
  height: -webkit-fill-available;
  left: unset !important;
  border-radius: 0 !important;
  margin: unset !important;
  padding: 0 !important;
  right: 0;
  transition: right 0.7s ease-in-out;
  &__head {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: $headHeight;
    position: relative;
    border-bottom: 1px solid var(--buttons-border);
    h1 {
      font-size: 30px;
      margin: 10px 0 0;
    }
  }
  &__body {
    height: calc(100% - #{$headHeight} - #{$footerHeight} - 10px);
    overflow: auto;
    padding: 0 15px;
  }
  section {
    padding: 7px 5px;
  }
  label {
    display: block;
    color: var(--text-default);
    margin-bottom: 5px;
  }
  &__footer {
    border-top: 1px solid var(--buttons-border);
    padding: 0 15px;
    height: $footerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      max-width: 100%;
      width: 100%;
      justify-content: center;
      &:first-child {
        margin-right: 5px;
      }
      &:last-child {
        margin-left: 5px;
      }
    }
  }
  &_hidden {
    right: -520px !important;
  }
}
