.main {
  height: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 40px); //40px - footer padding
  padding: 0 15px;
  &__container {
    margin: auto;
    max-width: var(--max-width);
    width: 100%;
  }
}