.radio {
  +label::before {
    border-radius: 50% !important;
  }
  &:checked +label{
    &::before {
      border-color: var(--base-color);
      background-color: var(--buttons-outline);
      background-size: 50% 50%;
    }
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: var(--base-color);
      top: 8px;
      left: calc(50% - 25px);
      border-radius: 50%;
    }
  }
  &:disabled +label {
    &::before {
      border-color: var(--base-color-disabled);
    }
    &::after {
      background-color: var(--base-color-disabled);
    }
  }
}