$dropdownWidth: 14px;

.dropdown {
  list-style: none;
  padding: 13px;
  border: 1px solid var(--buttons-border);
  border-radius: 6px;
  margin-top: 1px;
  position: absolute;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  background-color: var(--buttons-white);
  max-width: 310px;
  opacity: 0;
  top: 28px;
  transition: top 0.4s ease-in, top 0.2s ease-out, opacity 0.3s ease-in, opacity 0.2s ease-out;
  z-index: -1;
  &_open {
    z-index: 1;
    opacity: 1;
    top: 63px;
  }
  li {
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
    &:hover {
      color: var(--base-color);
      transition: 0.2s ease-in-out;
    }
  }
  &__arrow {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: var(--buttons-border);
    position: absolute;
    top: 35px;
    right: 13px;
    z-index: 3;
    transition: all 0.2s ease-in-out;
    &:hover {
      fill: var(--base-color);
    }
    &_down {
      transform: rotate(90deg);
    }
  }
  &__text {
    cursor: pointer;
    position: relative;
    display: inline-block;
    svg {
      right: -18px;
      width: $dropdownWidth;
      height: $dropdownWidth;
      top: 6px;
      fill: var(--base-color-second);
    }
    ul {
      top: $dropdownWidth * 2;
      left: 0;
      width: 100%;
      min-width: max-content;
      li {
        display: block !important;
      }
    }
    transition: 0.2s ease-in-out;
    > span {
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      > span {
        color: var(--base-color);
      }
      svg {
        fill: var(--base-color);
      }
    }
  }
}