.order {
  width: 350px;
  &__info {
    position: relative;
    &-status {
      position: absolute;
      width: 4px;
      height: calc(100% - 6px);
      border-radius: 24px;
      background-color: var(--base-color);
    }
    table {
      margin: 0 20px;
      border-collapse: collapse;
      tr:not(:first-child) td {
        padding-top: 8px;
      }
      td {
        border: 0;
      }
    }
    label {
      display: block;
      color: var(--text-default);
      font-size: 20px;
    }
  }
  hr {
    border: 0;
    height: 1px;
    background-color: var(--buttons-border);
  }
  &__photos img {
    width: auto;
    height: 50px;
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
  &__repeat {
    cursor: pointer;
    margin-top: 16px;
    text-align: center;
    color: var(--base-color);
  }
}