.product-modal {
  width: 800px;
  max-height: 500px;
  display: flex;
  z-index: 100;
  opacity: 1;
  &__photo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin: auto;
    margin-right: 20px;
    img {
      margin: auto;
      width: 100%;
      height: auto;
      max-width: 350px;
      max-height: 450px;
      z-index: 100;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    h2, h3 {
      margin: 0 0 5px 0;
    }
    &-block {
      height: 100%;
      overflow-y: auto;
    }
    &-ingredients {
      display: flex;
      flex-wrap: wrap;
      button {
        padding: 20px;
        border-radius: 12px;
        width: 80px;
        height: auto;
      }
      img, svg {
        width: -webkit-fill-available;
        height: auto;
      }
    }
    &-ingredient {
      display: flex;
      flex-direction: column;
      margin: 5px;
      max-width: 105px;
      span {
        display: block;
        text-align: center;
        font-size: 18px;
      }
      &-name {
        margin: 5px 0 0;
      }
      &-price {
        font-weight: 600;
        color: var(--base-color);
      }
    }
    &-dough {
      width: 100%;
      flex-direction: column;
      > div {
        width: 100%;
        margin: 10px 0;
      }
      button {
        max-width: 100%;
        flex: 1;
        justify-content: center;
        padding: 7px 20px;
        font-size: 18px;
      }
    }
    &-total {
      display: flex;
      align-items: center;
      h2 {
        font-size: 24px;
        color: var(--base-color);
        margin: 0;
      }
      span {
        font-size: 18px;
        color: var(--text-secondary);
        margin: 7px 0 0 10px;
      }
      button {
        margin-left: auto;
        padding: 7px 17px;
        font-size: 18px;
      }
    }
  }
}