.counter {
  display: inline-block;
  background-color: #ffeee2;
  color: var(--buttons-outline-text);
  padding: 6px 6px;
  font-size: 20px;
  border-radius: 6px;
  span {
    cursor: default;
  }
  button {
    cursor: pointer;
    background-color: transparent;
    color: var(--buttons-outline-text);
    border: 0;
    font-size: 20px;
    &:nth-child(1) {
      margin-right: 15px;
    }
    &:nth-child(3) {
      margin-left: 15px;
    }
  }
}