.card {
  border: 1px solid var(--buttons-border);
  border-radius: 12px;
  padding: 16px;
  background-color: var(--card-background);
  &-product {
    width: 268px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    &__photo {
      cursor: pointer;
      max-width: 268px;
      width: 100%;
      height: auto;
      max-height: 268px;
      min-height: 268px;
      border-bottom: 1px solid var(--buttons-border);
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
        transform: scale(0.95);
      }
      &:hover img {
        transform: scale(1); 
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 16px;
      h4 {
        margin: 0;
      }
      > span {
        margin: 10px 0 20px;
        overflow: hidden;
        word-break: break-all;
      }
      button {
        padding: 13px 20px;
        font-size: 20px;
      }
      &-select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 0 0;
        span {
          color: var(--text-colored);
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
  &-order {
    width: 350px;
    &__info {
      position: relative;
      &-status {
        position: absolute;
        width: 4px;
        height: calc(100% - 6px);
        border-radius: 24px;
        background-color: var(--base-color);
      }
      table {
        margin: 0 20px;
        border-collapse: collapse;
        tr:not(:first-child) td {
          padding-top: 8px;
        }
        td {
          border: 0;
        }
      }
      label {
        display: block;
        color: var(--text-default);
        font-size: 20px;
      }
    }
    hr {
      border: 0;
      height: 1px;
      background-color: var(--buttons-border);
    }
    &__photos img {
      width: auto;
      height: 50px;
      &:not(:first-child) {
        margin-left: 5px;
      }
    }
    &__repeat {
      cursor: pointer;
      margin-top: 16px;
      text-align: center;
      color: var(--base-color);
    }
  }
  &-snack {
    width: 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__photo {
      width: auto;
      height: 190px;
    }
    h4 {
      text-align: center;
      margin: 15px 0 8px;
    }
    &__info {
      text-align: center;
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__button {
      width: 100%;
      justify-content: center;
      font-size: 19px;
      padding: 10px 13px;
    }
  }
}