$baseTextColor: #ffffff;
$baseTextColorSecond: #000000;
$baseColor: #ff7010;
$baseColorSecond: #ff7010;
$baseColorDisabled: #ffa970;
$baseBackgroundColor: #ffffff;

:root {
  --base-color: #{$baseColor};
  --text-default: #{$baseTextColor};
  --buttons-text: #{$baseTextColor};
  --buttons-default: #{$baseColor};
  --buttons-default-disabled: #{$baseColorDisabled};
  --buttons-default-hovered: #{$baseColorSecond};
  --buttons-outline: #{$baseBackgroundColor};
  --buttons-outline-border-disabled: #{$baseColorDisabled};
  --buttons-outline-border: #{$baseColor};
  --buttons-outline-text: #{$baseColor};
  --buttons-white: #{$baseTextColor};
  --buttons-white-text: #{$baseTextColorSecond};
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-size: 22px;
}