$baseTextColor: #ffffff;
$baseTextColorSecond: #000000;
$secondaryTextColor: #b1b1b1;
$baseDefaultColor: #aaaaaa;
$borderDefaultColor: rgba(34, 60, 80, 0.2);
$baseColor: #ff7010;
$baseColorSecond: #ff7010;
$baseColorDisabled: #ffa970;
$baseErrorColor: #e23535;
$baseBackgroundColor: #ffffff;
$readonlyColor: #ededed;
$ligthRedColor: #ff4e4e;
$successColor: #2eff00;
$darkSuccessColor: #27d600;

:root {
  --max-width: 1536px;
  --header-height: 65px;
  --footer-height: 180px;

  --background-color: #f8f8f8;
  --background-color-second: #{$baseBackgroundColor};
  --background-color-third: #{$readonlyColor};
  --base-color: #{$baseColor};
  --base-color-second: #{$baseTextColorSecond};
  --base-error: #{$baseErrorColor};
  --text-base: #{$baseTextColor};
  --text-default: #{$baseDefaultColor};
  --text-secondary: #{$secondaryTextColor};
  --text-colored: #{$baseColor};

  --buttons-text: #{$baseTextColor};
  --buttons-border: #{$borderDefaultColor};
  --buttons-default: #{$baseColor};
  --buttons-default-disabled: #{$baseColorDisabled};
  --buttons-default-hovered: #{$baseColorSecond};
  --buttons-outline: #{$baseBackgroundColor};
  --buttons-outline-border-disabled: #{$baseColorDisabled};
  --buttons-outline-border: #{$baseColor};
  --buttons-outline-text: #{$baseColor};
  --buttons-white: #{$baseTextColor};
  --buttons-white-text: #{$baseTextColorSecond};

  --card-background: #{$baseBackgroundColor};
  --readonly-color: #{$readonlyColor};
  --red-color: #{$ligthRedColor};
  --success-color: #{successColor};
  --success-color-second: #{$darkSuccessColor};
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-size: 20px;
  background-color: var(--background-color);
  > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--buttons-outline-border-disabled);
}
