input,
textarea {
  padding: 13px;
  border-radius: 6px;
  border-color: var(--buttons-border);
  font-size: 22px;
  outline: none;
  transition: border-color 0.25s ease-in-out;
  &:hover,
  &:focus {
    border-color: var(--base-color);
    border-style: solid;
  }
  &::-webkit-input-placeholder {
    color: var(--text-default);
  }
  &::-moz-placeholder {
    color: var(--text-default);
  }
  &:-ms-input-placeholder {
    color: var(--text-default);
  }
  &::-ms-input-placeholder {
    color: var(--text-default);
  }
  &::placeholder {
    color: var(--text-default);
  }
}

textarea {
  resize: none;
}

.input {
  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 310px;
    position: relative;
    input {
      z-index: 2;
    }
  }
  &__label {
    display: block;
    color: var(--text-default);
    font-size: 20px;
    margin-bottom: 5px;
    &_error {
      color: var(--base-error);
    }
  }
  &__required {
    margin-top: 4px;
    color: var(--base-error);
    text-align: center;
  }
  &_error {
    color: var(--base-error);
    border-color: var(--base-error);
    &::-webkit-input-placeholder {
      color: var(--base-error);
    }
    &::-moz-placeholder {
      color: var(--base-error);
    }
    &:-ms-input-placeholder {
      color: var(--base-error);
    }
    &::-ms-input-placeholder {
      color: var(--base-error);
    }
    &::placeholder {
      color: var(--base-error);
    }
  }
}