.button-send {
  width: 42px;
  height: 42px;
  //
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  //
  svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
  padding: 13px !important;
}
