.checkbox {
  &:checked +label::before {
    border-color: var(--base-color);
    background-color: var(--base-color);
    background-image: url('../../images/checked.svg');
    background-size: 85% 100%;
  }
  &:disabled +label::before {
    background-color: var(--base-color-disabled);
  }
}