@mixin shortCard {
  .mini-product-card__info {
    flex-direction: column !important;
    align-items: flex-start !important;
    &-price {
      margin: 10px 0 0 !important;
      width: 100% !important;
    }
  }
}

.mini-product-card {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  &__photo {
    width: 85px;
    height: 85px;
    min-width: 85px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    &-main {
      h3 {
        margin: 0;
        margin-bottom: 5px;
        font-size: 26px;
      }
      span {
        font-size: 18px;
      }
      &__removed {
        max-width: 200px;
        font-size: 18px;
        color: var(--red-color);
        font-weight: 600;
        margin-top: 5px;
        span {
          background: rgba(255, 78, 78, 0.271);
          border-radius: 8px;
        }
      }
      &__added {
        max-width: 200px;
        font-size: 18px;
        color: var(--success-color-second);
        font-weight: 600;
        margin-top: 3px;
        span {
          background: rgba(46, 255, 0, 0.25);
          border-radius: 8px;
        }
      }
    }
    &-price {
      margin-left: auto;
      > span {
        font-size: 24px;
        font-weight: 600;
        margin-left: 10px;
        color: var(--base-color);
      }
    }
  }
}

.mini-product-card_short {
  @include shortCard;
  width: -webkit-fill-available;
  padding: 5px 15px 5px 10px;
  margin: 10px 0;
  h3 {
    font-size: 24px;
  }
  .mini-product-card__info-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 650px) {
  @include shortCard;
}
